@model BusinessLayer.DTO.SolutionDTO
@{
	ViewBag.Title = "Start Test";
}

<h2>Start Test</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div>
		@Html.LabelFor(model => model.TestPattern.Area.Name)
		@Html.EditorFor(model => model.TestPattern.Area.Name)
		@Html.ValidationMessageFor(model => model.TestPattern.Area.Name , "", new { @class = "text-danger" })
	</div>
	<div>
		@Html.LabelFor(model => model.TestPattern)
		@Html.EditorFor(model => model.TestPattern)
		@Html.ValidationMessageFor(model => model.TestPattern, "", new { @class = "text-danger" })
	</div>
	@foreach()
	<div>
		@Html.LabelFor(model => model.TestPattern)
		@Html.EditorFor(model => model.TestPattern)
		@Html.ValidationMessageFor(model => model.TestPattern, "", new { @class = "text-danger" })
	</div>



	<input type="submit" value="Create Teacher" />
}

