@model BusinessLayer.DTO.StudentDTO
@{
	ViewBag.Title = "Edit Student";
}

<h2>Edit Student</h2>

@using (Html.BeginForm())
{
	<div>
		@Html.LabelFor(model => model.FirstName)
		@Html.EditorFor(model => model.FirstName)
		@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
	</div>
	<div>
		@Html.LabelFor(model => model.Surname)
		@Html.EditorFor(model => model.Surname)
		@Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
	</div>
	<div>
		@Html.LabelFor(model => model.Password)
		@Html.EditorFor(model => model.Password)
		@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
	</div>

	<input type="submit" value="Change Student" />
}
